@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
}

/* GENERAL */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

[hidden] {
  display: none !important;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: #120d42;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

button {
  line-height: 1;
  cursor: pointer;
}

button,
a {
  color: inherit;
}

button:focus-visible,
a:focus-visible {
  outline: 0.25rem solid currentColor;
  outline-offset: 0.5rem;
}

ul {
  list-style-type: none;
}

.section {
  margin-top: -2rem;
  border-radius: 1.875rem 1.875rem 0 0;
  padding: 1.5rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn {
  display: block;
  width: 100%;
  background-color: #0771ea;
  border-radius: 1000px;
  padding: 1.25rem 0;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn:focus-visible {
  outline: 0.1875rem solid;
  outline-offset: 0.1875rem;
}

.btn.light-bg:focus-visible {
  outline-color: #0771ea;
}

.btn.dark-bg:focus-visible {
  outline-color: #fff;
}

/* prevents tooltip display on hover */
svg[role="img"] {
  pointer-events: none;
}

@media screen and (min-width: 48em) {
  .btn {
    width: fit-content;
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 62em) {
  .section {
    padding: 2rem 2rem 4rem;
  }
}

@media screen and (min-width: 90em) {
  .section {
    gap: 2rem;
    padding: 4rem;
  }
}
