---
import Layout from '../layouts/Layout.astro';
import ServiceLink from '../components/ServiceLink.astro';
import AuditsImage from '../assets/audits.svg';
import ConsultingImage from '../assets/consulting.svg';
import ELearningImage from '../assets/elearning.svg';
import TrainingImage from '../assets/training.svg';
import WritingImage from '../assets/writing.svg';
import RemediationImage from '../assets/remediation.svg';
import HeroImage from '../assets/hero-image.svg';
import IllustrationImage from '../assets/illustration.svg';

const page = 'Home';

const services = [
  {
    to: '/services#audits',
    text: 'Accessibility Audits',
    icon: AuditsImage
  },
  {
    to: '/services#consulting',
    text: 'Strategic Consulting',
    icon: ConsultingImage
  },
  {
    to: '/services#elearning',
    text: 'eLearning Development',
    icon: ELearningImage
  },
  {
    to: '/services#training',
    text: 'Training and Workshops',
    icon: TrainingImage
  },
  {
    to: '/services#writing',
    text: 'Content Writing and Inclusive Communication',
    icon: WritingImage
  },
  {
    to: '/services#remediation',
    text: 'Remediation Support',
    icon: RemediationImage
  },
];
---

<Layout page={page}>
  <div class="hero section">
    <div class="hero-txt">
      <p class="lead-txt">Let’s create a future where access opens doors, not just websites</h1>
      <p class="sec-txt">Welcome to Empower Accessibility. We believe accessibility is more than compliance. It’s a catalyst for equity, inclusion, and opportunity. Our mission is to empower people and expand access to dignified work by transforming how organizations think about accessibility.</p>
      <a href="/contact/" class="dark-bg btn">Let's Collaborate</a>
    </div>
    <div class="hero-img"><HeroImage aria-hidden="true" /></div>
  </div>
  <div class="services section">
    <h2>Our Services</h2>
    <p class="lead-txt">Building accessibility into every layer of your organization</p>
    <div class="service-links">
      {
        services.map((service) => {
          const Icon = service.icon;
          return (
          <ServiceLink to={service.to} text={service.text}>
            <Icon slot='img' />
          </ServiceLink>
        )})
      }
    </div>
  </div>
  <div class="newsletter section">
    <h2>What Makes Us Different</h2>
    <p class="lead-txt">We lead with empathy, integrity, and practical knowledge</p>
    <div class="diff-content">
      <div class="diff-txt">  
        <p class="sec-txt">We bring both experience and technical expertise to every engagement, and we focus on outcomes that matter — for your teams, your users, and your mission.</p>
        <a href="/contact/" class="light-bg btn">Get In Touch</a>
      </div>
      <div class="diff-img"><IllustrationImage aria-hidden="true" /></div>
    </div>
  </div>
</Layout>

<style>
  .hero.section {
    border-radius: 0;
    margin-top: 0;
    padding-top: 0.5rem;
  }

  .services,
  .newsletter { 
    color: #0d1123;
  }

  .services {
    background-color: #fff;
  }

  .newsletter {
    background-color: #ffd0fa;
    padding-bottom: 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
  }

  .lead-txt {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.25;
  }

  .sec-txt {
    font-size: 1.25rem;
  }

  .hero-txt {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero-img {
    padding: 0 0.5625rem;
  }

  .service-links {
    margin: 0 -1rem;
  }

  .diff-content,
  .diff-txt {
    display: contents;
  }

  @media screen and (min-width: 48em) {
    .hero {
      flex-direction: row;
    }

    .lead-txt {
      max-width: 70%;
    }

    .hero-txt .lead-txt {
      max-width: unset;
    }

    .hero-txt {
      flex: 1 1 auto;
      max-width: 80ch;
    }

    .hero-img {
      padding: 0;
      flex: 0 0 35%;
      align-self: center;
    }

    .diff-content {
      display: flex;
      gap: 1rem;
    }

    .diff-txt {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .diff-img {
      margin-top: -2rem;
      flex: 0 0 50%;
      max-width: 30rem;
    }
  }

  @media screen and (min-width: 62em) {
    .service-links {
      margin: 0 -2rem;
    }
  }

  @media screen and (min-width: 75em) {
    .hero.section {
      padding-top: 4rem;
      padding-bottom: 8rem;
    }

    .lead-txt {
      max-width: 55%;
      font-size: 4rem;
    }

    .hero-img {
      flex: 0 0 30%;
    }
  }

  @media screen and (min-width: 90em) {
    .service-links {
      margin: 0 -4rem;
    }
  }
</style>
