---
import Logo from '../assets/logo.svg';
import ExternalLinkIcon from '../assets/external-link.svg';
import navLinks from '../data/navlinks.json';
import socialLinks from '../data/sociallinks.json';
import NewsletterSignupForm from './NewsletterSignupForm.astro';
---

<footer class="footer section">
  <div class="content">
    <div class="cta">
      <div class="logo"><Logo /></div>
      <p>Whether you’re ready to start a project, have questions about our services, or just want to connect, we’d love to hear from you.</p>
      <a href="/contact/" class="dark-bg btn">Get In Touch</a>
    </div>
    <nav aria-label="Footer">
      <ul>
        {navLinks.map((link) => (
          <li>
            <a href={link.to}>{link.text}</a>
          </li>
        ))}
      </ul>
    </nav>
    <ul class="socials">
      {socialLinks.map((social) => (
          <li>
            <a href={social.link} target="_blank">
              {social.platform}
              <ExternalLinkIcon aria-hidden="true" class="ext-link" />
            </a>
          </li>
        ))}
    </ul>
  </div>
  <div class="newsletter-signup">
    <NewsletterSignupForm />
  </div>
  <small>
    <span class="fine-print">
      <a href="/accessibility/">Accessibility</a>
      <a href="/privacy-policy/">Privacy Policy</a>
      <a href="/terms-of-service/">Terms of Service</a>
    </span>
    <span>&copy; 2025 Empower Accessibility Inc. All Rights Reserved.</span>
  </small>
</footer>

<style>
  .footer.section {
    gap: 0;
    background-color: #120d42;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }

  .cta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2.5rem;
  }

  .cta p {
    font-size: 1rem;
    font-weight: 800;
  }

  .footer li {
    width: max-content;
    margin-bottom: 1rem;
    border-bottom: 0.0625rem solid currentColor;
    padding: 0.25rem 0.0625rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1;
  }

  .footer a {
    text-decoration: none;
  }

  .ext-link {
    display: none;
  }

  nav li:hover,
  .socials li:hover {
    color: #acd3ff;
    border-color: currentColor;
  }

  .newsletter-signup {
    padding: 2.5rem 0;
  }

  .footer small {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.75rem;
    font-weight: 300;
  }

  .fine-print a {
    text-decoration: underline;
    line-height: 1;
  }

  .fine-print a:hover {
    color: #acd3ff;
  }

  .fine-print a:not(:last-of-type) {
    border-right: 0.0625rem solid currentColor;
    padding-right: 0.5rem;
  }

  .fine-print a+a {
    padding-left: 0.5rem;
  }

  @media screen and (min-width: 22.5em) {
    .footer small {
      font-size: 0.875rem;
    }
  }

  @media screen and (min-width: 48em) {
    .content {
      display: grid;
      grid-template: auto 1fr / 45% 1fr;
      gap: 1rem;
    }

    .cta {
      grid-row: 1 / span 2;
    }

    .cta p {
      font-size: 1.25rem;
    }

    nav ul {
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
    }

    .socials {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .socials li {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      border-color: #42427c;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
    }

    .socials a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .ext-link {
      --icon-size: 0.75rem;
      display: block;
      width: var(--icon-size);
      height: var(--icon-size);
      fill: currentColor;
    }

    .newsletter-signup {
      border-top: 0.0625rem solid #42427c;
      border-bottom: 0.0625rem solid #42427c;
    }

    .footer small {
      flex-direction: row;
      padding: 1rem 0;
      justify-content: flex-end;
    }
  }

  @media screen and (min-width: 62em) {
    .cta p {
      font-size: 1.5rem;
    }

    .socials li {
      width: 30%;
    }

    nav ul {
      justify-content: flex-end;
      gap: 2.25rem;
    }

    .footer small {
      padding: 1.5rem 0;
    }
  }

  @media screen and (min-width: 80em) {
    .content {
      grid-template-columns: 40% 1fr;
    }
  }
</style>