---
interface Props {
  isCookie?: boolean;
}
const { isCookie } = Astro.props;
---

<dialog aria-labelledby="modal-title" class:list={["modal", { cookie: isCookie }]}>
  <slot />
  <div class="modal-ctrl">
    <slot name="modal-ctrl" />
  </div>
</dialog>

<style is:global>
  .modal::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .modal:open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(40ch, calc(100% - 3rem));
    max-height: 90dvh; /* prevent overflowing the viewport */
    overflow-y: auto;
    background-color: #fff;
    padding: 2rem 1rem;
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
    padding-top: calc(env(safe-area-inset-top) + 1rem);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .modal.cookie:open {
    top: auto;
    bottom: 0;
    transform: translateX(-50%);
  }

  .modal h2 {
    font-weight: 800;
    font-size: 1.25rem;
  }

  .modal p {
    font-size: 1rem;
  }

  .modal.cookie .modal-ctrl {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  @media screen and (min-width: 48em) {
    .modal.cookie {
      left: 0;
      transform: none !important;
      width: 100%; /* overrides mobile width */
      max-width: 100%; /* reqd coz p has a max-width */
    }

    .modal.cookie p {
      max-width: 80ch;
    }

    .modal.cookie .modal-ctrl {
      flex-direction: row;
    }
  }

  @media screen and (min-width: 62em) {
    .modal.cookie {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .modal.cookie h2 {
      font-size: 1.5rem;
    }

    .modal.cookie p {
      font-size: 1.25rem;
    }
  }
</style>