---
import Modal from "./Modal.astro";
---

<form class="signup" novalidate>
  <p class="bold">Sign up for our newsletter</p>
  <div class="input-box">
    <label for="newsletter-email" class="bold">Enter your email address</label>
    <input class="dark-bg input" type="email" name="email" id="newsletter-email" autocomplete="email" required>
  </div>
  <button type="submit" class="dark-bg btn">Subscribe Now</button>
</form>
<Modal>
  <Fragment>
    <h2>Success!</h2>
    <p>Thank you for subscribing to our newsletter. Check your inbox for our follow-up email.</p>
  </Fragment>
  <button type="button" class="light-bg btn" autofocus slot="modal-ctrl">Close</button>
</Modal>

<script>
  import { actions, isInputError } from "astro:actions";

  const signupForm = document.querySelector("form.signup") as HTMLFormElement;
  const emailInputWrapper = signupForm.querySelector('div.input-box:has(input[name="email"])')!;
  const emailInput = emailInputWrapper?.querySelector("input")!;

  const signupModal = document.querySelector("form.signup + dialog") as HTMLDialogElement;
  const signupCloseBtn = signupModal.querySelector("button") as HTMLButtonElement;

  const clearPrevErrMsg = () => {
    if (!emailInput.hasAttribute("aria-invalid")) return;
    emailInput.removeAttribute("aria-invalid");
    emailInput.removeAttribute("aria-describedby");
    emailInput.nextElementSibling?.remove();
  }

  const showCurrErrMsg = (errId: string, errMsg: string) => {
    const errContainer = document.createElement("div");
    errContainer.id = errId;
    errContainer.classList.add("err-msg");
    // inline styles to take it out of the flex container
    errContainer.setAttribute("style", "position: absolute; top: 100%; z-index: 5;");
    errContainer.textContent = errMsg;
    emailInputWrapper.append(errContainer);
    emailInput.setAttribute("aria-invalid", "true");
    emailInput.setAttribute("aria-describedby", errId);
    emailInput.focus();
  }

  signupCloseBtn.addEventListener("click", () => {
    signupModal.close();
  });

  signupForm?.addEventListener("submit", async (e) => {
    e.preventDefault();
    
    const formData = new FormData(signupForm);
    
    // Conditionally add tracking info to form data
    const hutk = document.cookie
      .split("; ")
      .find((cookie) => cookie.startsWith("hubspotutk="))
      ?.split("=")[1];
    if (hutk) {
      formData.append("hutk", hutk);
      formData.append("pageUri", window.location.href);
      formData.append("pageName", window.location.pathname);
    }

    const { error } = await actions.forms.newsletter(formData);
    clearPrevErrMsg();
    if (error) {
      console.log(error);
      const errId = "signup-email-err-msg";
      let errMsg;
      if (isInputError(error) && error.fields?.email) {
        errMsg = error.fields.email[0];
      } else {
        errMsg = "Oops! Something went wrong. Please try again later."
      }
      showCurrErrMsg(errId, errMsg!);
    } else {
      emailInput.value = "";
      signupModal.showModal();
    }
  });
</script>

<style>
  .signup {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .signup p {
    font-size: 1.25rem;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .input-box label {
    width: max-content;
  }

  .input {
    width: 100%;
    border: 0.125rem solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  @media screen and (min-width: 48em) {
    .input-box {
      max-width: 70%;
    }
  }

  @media screen and (min-width: 62em) {
    .signup {
      flex-direction: row;
      align-items: flex-end;
      gap: 1rem;
    }

    .signup p {
      align-self: center;
      flex: 1;
    }

    .input-box {
      min-width: 50%;
    }
  }
</style>